<h2>Edit Customer Form</h2>

<form [formGroup]="editregister">
    <div class="container">
        <div class="col-md-12 form-group">
            <label>
                <b>First Name</b>
            </label>
            <input placeholder="Enter Password" formControlName = "firstname" class="form-control" name="psw" required>
        </div>
        <div class="col-md-12 form-group">
            <label>
                <b>Last Name</b>
            </label>
            <input placeholder="Enter Password"  formControlName = "lastname"class="form-control" name="psw" required>
        </div>
        <div class="col-md-12 form-group">
            <label>
                <b>Email</b>
            </label>
            <input placeholder="Enter Email" formControlName = "emailID" class="form-control" required>

        </div>
        <div class="col-md-12 form-group">
            <label>
                <b>Address</b>
            </label>
            <input placeholder="Enter Password" formControlName = "address" class="form-control" name="psw" required>
        </div>
        <div class="col-md-12 form-group">
            <label>
                <b>City</b>
            </label>
            <input placeholder="Enter Password" formControlName = "city" class="form-control" name="psw" required>
        </div>
        <div class="col-md-12 form-group">
            <label>
                <b>State</b>
            </label>
            <input placeholder="Enter Password" formControlName = "state" class="form-control" name="psw" required>
        </div>
        <div class="col-md-12 form-group">

            <div class="radio">
                <label>  <input type="radio" value = "male" formControlName = "gender" name="gender">Male</label>
                <label>  <input type="radio" value = "female" formControlName = "gender" name="gender">Female</label>
            </div>
        </div>

        <button type="submit" class="btn btn-success" (click)="createCustomRegi()">Update Up</button>
        <button type="button" class="btn btn-danger" (click)="registrationCancle()">Cancel</button>


    </div>
</form>